 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

html {
   height: 100%;
}

body {
    background-image: url(/midia/genericbg.gif);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 main {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-items: center;
}

section {
   margin-top: 150px;
   width: 50vw;
   background-color: rgba(207, 207, 159, 0.945);
   border-bottom-right-radius: 300px;
   border-bottom-left-radius: 300px;
   border: 4px #eaf54e solid;
   align-items: center;
   justify-items: center;
   font-family: "Jacquard 12", system-ui;
}

section > p {
   text-align: start;
   margin-top: 40px;
   margin-bottom: 20px;
   font-size: 1.5rem;
}

h1 {
   margin-top: 20px;
   font-size: 3rem;
}

h2 {
   font-size: 2.5rem;
}

h3 {
   margin: 10px;
   font-size: 1.3rem;
}

#placa {
   margin-top: 10vh;
   width: 70vw;
   text-align: center;
   background: repeating-linear-gradient(90deg, #deb887, #deb887 8px, #d2a679 8px,#d2a679 16px, #c19a6b 16px, #c19a6b 24px  );
   background-blend-mode: multiply;
   border: #3a2202 6px dotted;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   margin-bottom: 10vh;
  font-family: "Jacquard 12", system-ui;
}

.questao {
   margin: 20px;
   width: 50vw;
   height: 7vh;
   background: repeating-linear-gradient(75deg,#5d5d63af, #807d7d, #4b4949);
   font-family: "Jacquard 12", system-ui;

}

.ativo {
   border: 10px #c1ce0be0 double;
}

#conferir {
   transition: 0.3s;
   margin-top: 50px;
   border: none;
   border-radius: 2px;
   width: 150px;
   height: 50px;
   font-family: "Jacquard 12", system-ui;
   color: #c95d2b;
   background-color: #f8ecddde;
}

#conferir:hover {
   transition: 0.3s;
   transform: scale(1.2);
}

.errada {
   display: none;
}