* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

@font-face {
    font-family: "sixtyfour";
    src: url(../fonts/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECEBFF;
    font-family: "sixtyfour";
}

section {
    background-color: #535dca85;
    border-radius: 20px;
    height: 40vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

