 * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
 }
#menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 500px 0px 560px;
}

#login {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: -1;
    bottom: 85px;
    right: 50px;
    height: 80px;
    background-color: aliceblue;
    margin-bottom: 3%;
}

#Bmap3, #Bmap4, #Bmap2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Bmap2 {
    margin-top: -20%;
}
#Bmap3 {
    margin-top: 20%;
}
#Bmap4 {
    margin-top: 65%;
    display: none;
}
.navegador {
    font-family: "Pixelify Sans";
    font-size: 17px;
    text-decoration: none;
    color: black;
    max-width: 50px;
    max-height: 50px;
    background-image: url(/midia/moldura_icone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    justify-content: space-between;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s;
    align-content: center;
}



/* imagens */

#body1 {
    /* background-repeat: no-repeat; */
    background-size: 200vh;
    background-position-x: 1vh;
    background-position-y: -23vh;
    background-image: url(/midia/login_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

section {
    height: 80vh;
}

#menu img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
#mapa1 #link1_mapa1 {
    background-image: url(/midia/upscalemedia-transformed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 130px;
    /* left: 750px;
    height: 80px; */
    height: 100px;
    left: 760px;
    width: 100px;
    cursor: pointer;
}

#mapa1 #link2_mapa1 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    /* top: 105px;
    left: 890px;
    height: 80px;
    width: 70px; */
    top: 20px;
    left: 890px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}

#mapa1 #link3_mapa1 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    /* top: 160px;
    left: 890px;
    height: 90px;
    width: 70px; */
    top: 40px;
    left: 890px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}

#mapa1 #link4_mapa1 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 60px;
    left: 890px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}
.mapa {
    position: absolute;
    width: 700px;
    /* top: -25%; */
    left: 30%;
    /* height: 550px;  */
}
#mapa1 #personagem_mapa1 {
    position: absolute;
    left: 630px;
    bottom: 400px;       
    width: 70px;
    /* transition: transform 0.5s ease; */
}
#mapa2 {
    display: flex;
    position: relative;
    top: 50vh;
}
#mapa2 #personagem_mapa2 {
    position: absolute;
    left: 75vh;
    top: 3vh;      
    width: 9vh;
}
#mapa2 #link1_mapa2 {
    background-image: url(/midia/upscalemedia-transformed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 100vh;
    top: 5vh;
    cursor: pointer;
}
#mapa2 #link2_mapa2 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 90vh;
    top: 20vh;
    cursor: pointer;
}
#mapa2 #link3_mapa2 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 80vh;
    top: 36vh;
    cursor: pointer;
}
#mapa2 #link4_mapa2 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 91vh;
    top: 35vh;
    cursor: pointer;
}
#mapa3 {
    display: flex;
    position: relative;
    top: 130vh;
}
#mapa3 #personagem_mapa3 {
    position: absolute;
    left: 570px;
    top: 4vh;
    width: 70px;
}
#mapa3 #link1_mapa3{
    background-image: url(/midia/upscalemedia-transformed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 105vh;
    top: 4vh;
    cursor: pointer;
}
#mapa3 #link2_mapa3 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 95vh;
    top: 25vh;
    cursor: pointer;
}
#mapa3 #link3_mapa3 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 85vh;
    top: 45vh;
    cursor: pointer;
}
#mapa3 #link4_mapa3 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 101vh;
    top: 45vh;
    cursor: pointer;
}
#mapa4 {
    display: flex;
    position: relative;
    top: 220vh;
}
#mapa4 #personagem_mapa4 {
    position: absolute;
    left: 77vh;
    top: 2vh;      
    width: 9vh;
}
#mapa4 #link1_mapa4 {
    background-image: url(/midia/upscalemedia-transformed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 77vh;
    top: 27vh;
    cursor: pointer;
}
#mapa4 #link2_mapa4 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 98vh;
    top: 27vh;
    cursor: pointer;
}
#mapa4 #link3_mapa4 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 91vh;
    top: 46vh;
    cursor: pointer;
}
/* .animacao_fase1 {
    animation: fase1 4s ;
    animation-iteration-count: 1;
}
.animcao_fase2 {
    animation: fase2 4s;
    animation-iteration-count: 1;
} */

/*Mapa 1*/
@keyframes fase1_mapa1 {
    0% {
        left: 630px;
        bottom: 400px;      
    }
    50% {
        left: 630px;
        bottom: 370px;  
    }
    100% {
        left: 775px;
        bottom: 370px;
    }
}

@keyframes fase2_mapa1 {
    0% {
        left: 780px;
        bottom: 370px;
    }
    100% {
        left: 900px;
        bottom: 370px;
    }
}
@keyframes fase3_mapa1 {
    0% {
        left: 900px;
        bottom: 370px;
    }
    100% {
        left: 900px;
        bottom: 250px;
    }
}
@keyframes fase4_mapa1 {
    0% {
        left: 900px;
        bottom: 250px;
    }
    100% {
        left: 900px;
        bottom: 140px;
    }
}

/*Mapa 2*/
@keyframes fase1_mapa2{
    0% {
        left: 75vh;
        top: 3vh;
    }
    100% {
        left: 101vh;
        top: 3vh;
    }
}
@keyframes fase2_mapa2 {
    0% {
        left: 101vh;
        top: 3vh;
    }
    100% {
        left: 101vh;
        top: 19vh;
    }
}
@keyframes fase3_mapa2 {
    0% {
        left: 101vh;
        top: 19vh;
    }
    100% {
        left: 101vh;
        top: 34vh;
    }
}
@keyframes fase4_mapa2 {
    0% {
        left: 101vh;
        top: 34vh;
    }
    100% {
        left: 123vh;
        top: 32vh;
    }
}

/*Mapa 3*/
@keyframes fase1_mapa3 {
    0% {
        left: 570px;
        top: 4vh;
    }
    100% {
        left: 820px;
        top: 4vh;
    }
}
@keyframes fase2_mapa3 {
    0% {
        left: 820px;
        top: 4vh;
    }
    100% {
        left: 820px;
        top: 25vh;
    }
}
@keyframes fase3_mapa3 {
    0% {
        left: 820px;
        top: 25vh;
    }
    100% {
        left: 820px;
        top: 44vh;
    }
}
@keyframes fase4_mapa3 {
    0% {
        left: 820px;
        top: 44vh;
    }
    100% {
        left: 1025px;
        top: 44vh;
    }
}
/*Mapa 4*/
@keyframes fase1_mapa4 {
    0% {
        left: 77vh;
        top: 2vh;   
    }
    100% {
        left: 77vh;
        top: 25vh;
    }
}
@keyframes fase2_mapa4 {
    0% {
        left: 77vh;
        top: 25vh;
    }
    100% {
        left: 111vh;
        top: 25vh;
    }
}
@keyframes fase3_mapa4 {
    0% {
        left: 111vh;
        top: 25vh;
    }
    100% {
        left: 111vh;
        top: 45vh;
    }
}