#menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 500px 0px 560px;
}

#login {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 85px;
    right: 50px;
    height: 80px;
    
}

.navegador {
    font-family: "Pixelify Sans";
    font-size: 17px;
    text-decoration: none;
    color: black;
    max-width: 50px;
    max-height: 50px;
    background-image: url(/midia/moldura_icone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    justify-content: space-between;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s;
    align-content: center;
}



/* imagens */

#body1 {
    /* background-repeat: no-repeat; */
    background-size: 200vh;
    background-position-x: 1vh;
    background-position-y: -23vh;
    background-image: url(/midia/login_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#menu img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#mapa1 #link1_mapa1 {
    position: relative;
    top: 190px;
    left: 750px;
    height: 80px;
    width: 100px;
    cursor: pointer;
}

#mapa1 #link2_mapa1 {
    position: relative;
    top: 105px;
    left: 890px;
    height: 80px;
    width: 70px;
    cursor: pointer;
}

#mapa1 #link3_mapa1 {
    position: relative;
    top: 160px;
    left: 890px;
    height: 90px;
    width: 70px;
    cursor: pointer;
}

#mapa1 #link4_mapa1 {
    position: relative;
    top: 200px;
    left: 880px;
    height: 80px;
    width: 80px;
    cursor: pointer;
}
#mapa {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 700px;
    height: 550px;
}
#mapa1 #personagem_mapa1 {
    position: absolute;
    left: 630px;
    bottom: 400px;       
    width: 70px;
    /* transition: transform 0.5s ease; */
}
#mapa2 {
    display: flex;
    position: relative;
    top: 50vh;
}
#mapa2 #personagem_mapa2 {
    position: absolute;
    left: 75vh;
    top: 8vh;      
    width: 9vh;
}
#mapa2 #link1_mapa2 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 99vh;
    top: 10vh;
    cursor: pointer;
}
#mapa2 #link2_mapa2 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 91vh;
    top: 28vh;
    cursor: pointer;
}
#mapa2 #link3_mapa2 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 80vh;
    top: 50vh;
    cursor: pointer;
}
#mapa2 #link4_mapa2 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 92vh;
    top: 48vh;
    cursor: pointer;
}
#mapa3 {
    display: flex;
    position: relative;
    top: 130vh;
}
#mapa3 #personagem_mapa3 {
    position: absolute;
    left: 570px;
    top: 8vh;
    width: 70px;
}
#mapa3 #link1_mapa3{
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 105vh;
    top: 8vh;
    cursor: pointer;
}
#mapa3 #link2_mapa3 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 95vh;
    top: 34vh;
    cursor: pointer;
}
#mapa3 #link3_mapa3 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 86vh;
    top: 59vh;
    cursor: pointer;
}
#mapa3 #link4_mapa3 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 102vh;
    top: 59vh;
    cursor: pointer;
}
#mapa4 {
    display: flex;
    position: relative;
    top: 220vh;
}
#mapa4 #personagem_mapa4 {
    position: absolute;
    left: 77vh;
    top: 4vh;      
    width: 9vh;
}
#mapa4 #link1_mapa4 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 77vh;
    top: 37vh;
    cursor: pointer;
}
#mapa4 #link2_mapa4 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 100vh;
    top: 37vh;
    cursor: pointer;
}
#mapa4 #link3_mapa4 {
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 90vh;
    top: 62vh;
    cursor: pointer;
}
/* .animacao_fase1 {
    animation: fase1 4s ;
    animation-iteration-count: 1;
}
.animcao_fase2 {
    animation: fase2 4s;
    animation-iteration-count: 1;
} */

/*Mapa 1*/
@keyframes fase1_mapa1 {
    0% {
        left: 630px;
        bottom: 400px;      
    }
    50% {
        left: 630px;
        bottom: 350px;  
    }
    100% {
        left: 775px;
        bottom: 350px;
    }
}

@keyframes fase2_mapa1 {
    0% {
        left: 780px;
        bottom: 350px;
    }
    100% {
        left: 900px;
        bottom: 350px;
    }
}
@keyframes fase3_mapa1 {
    0% {
        left: 900px;
        bottom: 350px;
    }
    100% {
        left: 900px;
        bottom: 200px;
    }
}
@keyframes fase4_mapa1 {
    0% {
        left: 900px;
        bottom: 200px;
    }
    100% {
        left: 900px;
        bottom: 80px;
    }
}

/*Mapa 2*/
@keyframes fase1_mapa2{
    0% {
        left: 75vh;
        top: 8vh;
    }
    100% {
        left: 101vh;
        top: 8vh;
    }
}
@keyframes fase2_mapa2 {
    0% {
        left: 101vh;
        top: 8vh;
    }
    100% {
        left: 101vh;
        top: 28vh;
    }
}
@keyframes fase3_mapa2 {
    0% {
        left: 101vh;
        top: 28vh;
    }
    100% {
        left: 101vh;
        top: 47vh;
    }
}
@keyframes fase4_mapa2 {
    0% {
        left: 101vh;
        top: 47vh;
    }
    100% {
        left: 123vh;
        top: 47vh;
    }
}

/*Mapa 3*/
@keyframes fase1_mapa3 {
    0% {
        left: 570px;
        top: 8vh;
    }
    100% {
        left: 820px;
        top: 8vh;
    }
}
@keyframes fase2_mapa3 {
    0% {
        left: 820px;
        top: 8vh;
    }
    100% {
        left: 820px;
        top: 33vh;
    }
}
@keyframes fase3_mapa3 {
    0% {
        left: 820px;
        top: 33vh;
    }
    100% {
        left: 820px;
        top: 58vh;
    }
}
@keyframes fase4_mapa3 {
    0% {
        left: 820px;
        top: 58vh;
    }
    100% {
        left: 1025px;
        top: 58vh;
    }
}
@keyframes fase1_mapa4 {
    0% {
        left: 77vh;
        top: 4vh;   
    }
    100% {
        left: 77vh;
        top: 35vh;
    }
}
@keyframes fase2_mapa4 {
    0% {
        left: 77vh;
        top: 35vh;
    }
    100% {
        left: 111vh;
        top: 35vh;
    }
}
@keyframes fase3_mapa4 {
    0% {
        left: 111vh;
        top: 35vh;
    }
    100% {
        left: 111vh;
        top: 60vh;
    }
}