 * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
 }
#menu {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 500px 0px 560px;
}
#login {
    display: flex;
    justify-content: flex-end;
    position: relative;
    /* z-index: -1;
    bottom: 85px; */
    right: 50px;
    height: 80px;
    margin-left: -200px;
}
header {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 70px;
    padding-bottom: 20px;
    background: rgba(100, 180, 255, 0.75);
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 3;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#Bmap3, #Bmap4, #Bmap2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Bmap2 {
    margin-top: -20%;
}
#Bmap3 {
    margin-top: 20%;
}
#Bmap4 {
    margin-top: 65%;
}
.navegador {
    font-family: "Pixelify Sans";
    font-size: 17px;
    text-decoration: none;
    color: black;
    max-width: 50px;
    max-height: 50px;
    background-image: url(/midia/moldura_icone.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    justify-content: space-between;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s;
    align-content: center;
}

h1 {
    font-family: "Pixelify Sans";
}

/* imagens */

#body1 {
    /* background-repeat: no-repeat; */
    background-size: 200vh;
    background-position-x: 1vh;
    background-position-y: -23vh;
    background-image: url(/midia/login_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

#mapa1 {
    position: relative;
    padding-top: 400px;
    padding-left: 90px;
}
/* #mapa1 #personagem_mapa1 {
    position: relative;
    top: 42%;
    margin-left: 5%;
} */
section {
    height: 80vh;
}

#menu img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
#mapa1 #link1_mapa1 {
    background-image: url(/midia/upscalemedia-transformed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 130px;
    /* left: 750px;
    height: 80px; */
    height: 100px;
    left: 760px;
    width: 100px;
    cursor: pointer;
}

#mapa1 #link2_mapa1 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    /* top: 105px;
    left: 890px;
    height: 80px;
    width: 70px; */
    top: 20px;
    left: 890px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}

#mapa1 #link3_mapa1 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    /* top: 160px;
    left: 890px;
    height: 90px;
    width: 70px; */
    top: 40px;
    left: 890px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}

#mapa1 #link4_mapa1 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    top: 60px;
    left: 890px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}
.mapa {
    position: absolute;
    width: 700px;
    /* top: -25%; */
    left: 30%;
    /* height: 550px;  */
}
#mapa1 #personagem_mapa1 {
    position: absolute;
    left: 720px;
    bottom: 600px;       
    width: 70px;
    /* transition: transform 0.5s ease; */
}
#mapa2 {
    display: flex;
    position: relative;
    top: 50vh;
    visibility: hidden;
}
#mapa2 #personagem_mapa2 {
    position: absolute;
    left: 70vh;
    top: 2vh;      
    width: 9vh;
}
#mapa2 #link1_mapa2 {
    background-image: url(/midia/upscalemedia-transformed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 91vh;
    top: 3vh;
    cursor: pointer;
}
#mapa2 #link2_mapa2 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 81vh;
    top: 15vh;
    cursor: pointer;
}
#mapa2 #link3_mapa2 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 72vh;
    top: 29vh;
    cursor: pointer;
}
#mapa2 #link4_mapa2 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 79vh;
    top: 28vh;
    cursor: pointer;
}
#mapa3 {
    display: flex;
    position: relative;
    top: 130vh;
    visibility: hidden;
}
#mapa3 #personagem_mapa3 {
    position: absolute;
    left: 670px;
    top: 3vh;
    width: 70px;
}
#mapa3 #link1_mapa3{
    background-image: url(/midia/upscalemedia-transformed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 95vh;
    top: 3vh;
    cursor: pointer;
}
#mapa3 #link2_mapa3 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 85vh;
    top: 19vh;
    cursor: pointer;
}
#mapa3 #link3_mapa3 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 76vh;
    top: 36vh;
    cursor: pointer;
}
#mapa3 #link4_mapa3 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 87vh;
    top: 36vh;
    cursor: pointer;
}
#mapa4 {
    display: flex;
    position: relative;
    top: 220vh;
    visibility: hidden;
}
#mapa4 #personagem_mapa4 {
    position: absolute;
    left: 73vh;
    top: 2vh;      
    width: 9vh;
}
#mapa4 #link1_mapa4 {
    background-image: url(/midia/upscalemedia-transformed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 72vh;
    top: 22vh;
    cursor: pointer;
}
#mapa4 #link2_mapa4 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 88vh;
    top: 22vh;
    cursor: pointer;
}
#mapa4 #link3_mapa4 {
    background-image: url(/midia/kathryn-raccuglia-smb-dc-2023-assets-map-icon-removebg-preview.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 10vh;
    width: 10vh;
    left: 80vh;
    top: 37vh;
    cursor: pointer;
}

.oculto {
    display: none;
}
/* .animacao_fase1 {
    animation: fase1 4s ;
    animation-iteration-count: 1;
}
.animcao_fase2 {
    animation: fase2 4s;
    animation-iteration-count: 1;
} */

/*Mapa 1*/
@keyframes fase1_mapa1 {
    0% {
        left: 720px;
        bottom: 600px;          
    }
    50% {
        left: 720px;
        bottom: 570px;  
    }
    100% {
        left: 870px;
        bottom: 570px;
    }
}

@keyframes fase2_mapa1 {
    0% {
        left: 870px;
        bottom: 570px;
    }
    100% {
        left: 990px;
        bottom: 570px;
    }
}
@keyframes fase3_mapa1 {
    0% {
        left: 990px;
        bottom: 570px;
    }
    100% {
        left: 990px;
        bottom: 450px;
    }
}
@keyframes fase4_mapa1 {
    0% {
        left: 990px;
        bottom: 450px;
    }
    100% {
        left: 990px;
        bottom: 350px;
    }
}

/*Mapa 2*/
@keyframes fase1_mapa2{
    0% {
        left: 75vh;
        top: 2vh;
    }
    100% {
        left: 92vh;
        top: 2vh;
    }
}
@keyframes fase2_mapa2 {
    0% {
        left: 92vh;
        top: 2vh;
    }
    100% {
        left: 92vh;
        top: 15vh;
    }
}
@keyframes fase3_mapa2 {
    0% {
        left: 92vh;
        top: 15vh;
    }
    100% {
        left: 92vh;
        top: 27vh;
    }
}
@keyframes fase4_mapa2 {
    0% {
        left: 92vh;
        top: 27vh;
    }
    100% {
        left: 110vh;
        top: 27vh;
    }
}

/*Mapa 3*/
@keyframes fase1_mapa3 {
    0% {
        left: 670px;
        top: 3vh;
    }
    100% {
        left: 920px;
        top: 3vh;
    }
}
@keyframes fase2_mapa3 {
    0% {
        left: 920px;
        top: 3vh;
    }
    100% {
        left: 920px;
        top: 20vh;
    }
}
@keyframes fase3_mapa3 {
    0% {
        left: 920px;
        top: 20vh;
    }
    100% {
        left: 920px;
        top: 37vh;
    }
}
@keyframes fase4_mapa3 {
    0% {
        left: 920px;
        top: 37vh;
    }
    100% {
        left: 1125px;
        top: 37vh;
    }
}
/*Mapa 4*/
@keyframes fase1_mapa4 {
    0% {
        left: 73vh;
        top: 2vh;   
    }
    100% {
        left: 73vh;
        top: 20vh;
    }
}
@keyframes fase2_mapa4 {
    0% {
        left: 73vh;
        top: 20vh;
    }
    100% {
        left: 100vh;
        top: 20vh;
    }
}
@keyframes fase3_mapa4 {
    0% {
        left: 100vh;
        top: 20vh;
    }
    100% {
        left: 100vh;
        top: 37vh;
    }
}
